/* footer */



.marker {
    height: 25px !important;
    margin-left: -1.5em;
	margin-bottom: -1em;
}


footer .social_media img {
    height: 50px;
}
p.address_footer {
    line-height: 1.2;
}
.btn-signup {
    background-color: #3D3268;
    color: #fff;
}