/* Front Page */

.sub_nav img {
    height: 3em;
    margin-bottom: 0.8em;
}
.banner {
    background: url(../../images/banner.png) no-repeat center top;
	background-color: #000;
}
.motto {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1.12;
}
.banner .form-control {
    padding: 0.8rem .75rem;
	    border-radius: 0;
	    font-style: italic;
}

.leave_beta {
    background-color: $accent;
	    border-radius: 0.6em;
    margin-bottom: -1em;
	
}

.btn-search {
    color: #fff;
    background-color: #7865AF;
    padding: 0.8rem .75rem !important;
    font-weight: 500 !important;
    border-radius: 0 !important;
}

.news_train img {
    height: 70px;
}

.sub_nav p {
	
line-height: 1.1
}

.sub_nav a:hover {
	color: $accent; 
}
.card  {
border: 1px solid $heading !important;
background-color: #f9f6fd !important;
}
.card-body {
    padding: 1.2rem 1rem 0.8rem !important;
}
.sub_nav .card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.news_source small {
    color: $accent;
    font-weight: 600;
}
p.news_source {
    margin-top: -0.2em;
}

p.news_text, .training_title {
    font-size: 0.9em;
}

.news_item {
    border-bottom: 1px solid #ddd;
}