// Media Queries

@media (min-width: 992px) and (max-width: 1199.98px) { 
	//Header


	.branding .h4 {
    font-size: 1.2em;
}
	p.tagline {
    font-size: 0.8em;
}
	header .social_media img {
    height: 30px;
}
	
	// Banner 
	
	.motto {
    font-size: 1.8em;
	}
	// Secondary Nav
	
	h5, .h5 {
    font-size: 1.1rem !important;
}
	
	// Feed
	.news_train img {
    height: 50px;
}
	p.news_text, .training_title {
    font-size: 0.7em;
}
	
	// Footer
	
	footer .nih_logo {
    height: 2.4em;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	
		//Header 

	
		.branding .h4 {
    font-size: 1em;
}
		p.tagline {
    font-size: 0.6em;
}
		header .social_media img {
    height: 2em;
			
			// Footer
}
	footer .social_media img {
    height: 2em;
}
}




@media  (max-width: 767.98px) { 

//header
	
	h5, .h5 {
    font-size: 0.9rem;
}
	.top_row p small {
    font-size: 60%;
    line-height: 0.6 !important;
}
	header .h4 {
    font-size: 1em;
}
.tagline {
    font-size: 0.8em;
}

	
	.leave_beta {
    line-height: 0.8;
	}
	
	// Banner
	
	.motto {
    font-size: 1.1em;
	
}
	
	// Secondary Nav 
	
	.card h5 {
    font-size: 0.7em;
}
	
.card-body {
    padding: 0.6rem 0.3rem 0.3rem 0.3rem !important;
	}
	
	// Feed
	
	p.news_text, .training_title {
    font-size: 0.7em;
}
	
	.news_train h1 {
    font-size: 1.5em;
}
	// Footer
	
	footer h4 {
    font-size: 0.7em;
}
	
	footer h5 {
    font-size: 0.7em;
}
	
	p.address_footer {
    font-size: 0.7em;
		line-height: 1.1;
}
	
	footer .social_media img {
    height: 15px;
}
	
	footer p {
    font-size: 0.6em;
}
	
	.btn.btn-signup, footer .form-control {
    font-size: 0.7em !important;
}
	
	}
	