$purple:    #5B4C86 !default;
$lavander:    #F0ECFB !default;
$mid-purple:    #8866A2 !default;
$bright-purple:     #A210E0 !default;



$primary:       $purple !default;
$secondary:     $lavander !default;
$heading:        $mid-purple !default;
$accent:        $bright-purple !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "heading":    $heading,
  "accent":       $accent,
), $theme-colors);


// Fonts

$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 2.3 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$font-family-sans-serif:     "Roboto" !default;
$font-family-base:            $font-family-sans-serif !default;

//Grid

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px
) !default; 