<footer class="bg-primary text-white">
 <div class="container-fluid">
  <div class="container pt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-sm-6 col-6">
        <p><a href="https://www.nlm.nih.gov/socialmedia/index.html" class="text-white">Follow NLM</a></p>
        <ul class="list-inline social_media">
          <li class="list-inline-item"><a href="https://www.facebook.com/nationallibraryofmedicine"><img src="/images/Facebook_W.svg" class="img-fluid" alt="Facebook"></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/NLM_NIH"><img src="/images/Twitter_W.svg" class="img-fluid" alt="Twitter"></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/user/NLMNIH"><img src="/images/YouTube_W.svg" class="img-fluid" alt="You Tube"></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <p class="address_footer text-white"> National Library of Medicine <br>
          <a href="https://www.google.com/maps/place/8600+Rockville+Pike,+Bethesda,+MD+20894/@38.9959508,-77.101021,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7c95e25765ddb:0x19156f88b27635b8!8m2!3d38.9959508!4d-77.0988323" class="text-white"> 8600 Rockville Pike <br>
          Bethesda, MD 20894 </a></p>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <p><a href="https://www.nlm.nih.gov/copyright.html" class="text-white"> Copyright </a><br>
          <a href="https://www.nih.gov/institutes-nih/nih-office-director/office-communications-public-liaison/freedom-information-act-office" class="text-white"> FOIA </a> <br>
          <a href="https://www.nlm.nih.gov/privacy.html" class="text-white"> Privacy </a></p>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <p><a class="supportLink text-white" href="//support.nlm.nih.gov?from="> NLM Support Center </a> <br>
          <a href="https://www.nlm.nih.gov/accessibility.html" class="text-white"> Accessibility </a><br>
          <a href="https://www.nlm.nih.gov/careers/careers.html" class="text-white"> Careers </a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="mt-2 text-center"> <a class="text-white" href="//www.nlm.nih.gov/">NLM</a> | <a class="text-white" href="https://www.nih.gov/">NIH</a> | <a class="text-white" href="https://www.hhs.gov/">HHS</a> | <a class="text-white" href="https://www.usa.gov/">USA.gov</a></p>
      </div>
    </div>
  </div>
</div>

</footer>

<script src="//assets.nlm.nih.gov/jquery/jquery-latest.min.js"></script>
<script src="//assets.nlm.nih.gov/jquery/jquery-migrate-latest.min.js"></script>
<script src="home_assets/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="/scripts/nlm_autocomplete.js"></script>
<script src="/scripts/home.js"></script>
<!-- GovDelivery Subscription Overlay -->
<script src="https://content.govdelivery.com/overlay/js/9873.js"></script>
<!-- End GovDelivery Overlay -->

<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items">

      <!-- Hide ASpace default footer
           <a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a>
         | Visit <a href="http://archivesspace.org">ArchivesSpace.org</a>
         | <%= ASConstants.VERSION %>
         | <% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %><a id='aspaceFeedbackLink' href='<%= AppConfig[:feedback_url]%>' target='_blank'>Send Feedback or Report a Problem</a><% end %></p>
     -->
     </div>
  </div>
</div>
