<!-- <section id="navigation-hmd"> -->

<div class="hmd-header">

    <div class="logo">
<a href="https://www.nlm.nih.gov/hmd/" title="titly-jp"><img src="/assets/images/logo-hmd.svg" alt="History of Medicine Logo"/></a>
    </div>
    <div>
    <nav class="mobile hasjss">
       <ul>
       <li><a href="https://www.nlm.nih.gov/hmd/about/index.html" title="">About</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/collections/index.html" title="">Collections</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/about/exhibition/index.html" title="">Exhibitions</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/research-tools/index.html" title="">Research Tools</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/copyright/index.html" title="">Copyright</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/get-involved/index.html" title="">Get Involved</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/visit/index.html" title="">Visit</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/contact/index.html" title="">Contact</a></li>
     </ul>
           </nav>

    <nav class="nojss">
      <ul>
       <li><a href="https://www.nlm.nih.gov/hmd/about/index.html" title="About">About</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/collections/index.html" title="Collections ">Collections</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/about/exhibition/index.html" title="Exhibitions">Exhibitions</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/research-tools/index.html" title="Research Tools">Research Tools</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/copyright/index.html" title="Copyright">Copyright</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/get-involved/index.html" title="Get Involved">Get Involved</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/visit/index.html" title="Visit">Visit</a></li>
       <li><a href="https://www.nlm.nih.gov/hmd/contact/index.html" title="Contact">Contact</a></li>
     </ul>
   </nav>
  </div>
</div>
